// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Text
$title-color: #126e82 !default; // 玉鈫蓝
$section-headings-color: #229453 !default; // 孔雀绿
$body-text-color: #2d2e36 !default; // 牛角灰
$body-link-color: #475164 !default; // 鲸鱼灰
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f6f8f9 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #f6f8f9 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
